<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.playfree"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerFotosActivity"
            android:icon="@drawable/ic_album"
            android:label="@string/title_activity_ver_fotos" >
        </activity>
        <activity
            android:name=".FotoGrandeActivity"
            android:icon="@drawable/ic_album"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="Camera Cambiar" >
        </activity>
        <activity
            android:name=".UnirEventoActivity"
            android:label="@string/title_activity_unir_evento" >
        </activity>
        <activity
            android:name="jim.h.common.android.zxinglib.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>